 ## MCQ problem solve

1. What will be the output of the following code?
Code: x = "10", y = 5, print(x + y)
Options: A) 15, B) 105, C) TypeError, D) 10 6
``Answer: C) TypeError``

In [16]:
x = "10"
y = 5
print(x + y)

TypeError: can only concatenate str (not "int") to str

2. What is the output of:
Code: print(2 ** 3 ** 2)
Options: A) 64, B) 512, C) 729, D) 36
``Answer: B) 512``

In [19]:
2**3**2

512

3. Correct syntax to define a function:
Options: A) def syntax: B) function func(): C) def func(): D) define func():
``Answer: C) def func():``

In [27]:
def func():
    return 1 + 2

func()

3

4. Output of: print(10 * 3)
Options: A) 101010, B) 30, C) 10+10+10, D) Error
``Answer: B) 30``

In [30]:
print(10 * 3)

30

5. Find the output:
Code: a = [1, 2, 3], b = a.append(4), print(a)
Options: A) [1, 2, 3, 4], B) [1, 2, 3], C) [4], D) Error
``Answer: A) [1, 2, 3, 4]``

In [33]:
a = [1,2,3]
b = a
b.append(4)
a

[1, 2, 3, 4]

6. Which keyword is used to begin a loop in Python?
Options: A) if, B) while, C) switch, D) repeat
``Answer: B) while``

In [40]:
i = 0
while(True):
    if i > 5: 
        break
    i=i+1
    print(i)

1
2
3
4
5
6

7. Identify the error in the code:
Code: for i in range(5), print(i)
Options: A) Missing parentheses, B) Indentation error, C) Missing colon, D) No error
``Answer: D) No error``

In [43]:
for i in range(5):
    print(i)

0
1
2
3
4

8. Output of: len("Pakistan")
Options: A) 8, B) 7, C) 10, D) 0
``Answer: A) 8``

In [50]:
print(len("Pakistan"))

8

9. Code: print(type((1,2,3)))
Options: A) list, B) <class list="">, C) tuple, D) array</class>
``Answer: C) tuple``

In [55]:
type((1,2,3))

tuple

10. Which is a valid variable name?
Options: A) val$, B) _value, C) for
``Answer: B) _value``

In [58]:
_value = 99
_value

99

11. What is the output: print(bool(""))
Options: A) True, B) False, C) "", D) None
``Answer: B) False``

In [61]:
bool("")

False

12. What does the input() function return?
Options: A) int, B) float, C) str, D) boolean
``Answer: C) str``

In [66]:
ak = input()
print(type(ak))

 10

<class 'str'>

13. Output of:
Code: a = (1,2,3), print(a[3])
Options: A) 3, B) IndexError, C) 0, D) None
``Answer: B) IndexError``

In [69]:
a = (1,2,3)
a[3]

IndexError: tuple index out of range

14. Identify the error:
Code: name = 'Ali'
print(Name)
Options: A) NameError, B) SyntaxError, C) None, D) TypeError
``Answer: A) NameError``

In [73]:
name = 'Ali'
print(Name)

NameError: name 'Name' is not defined

15. What is NOT Python data type?
Options: A) list, B) bool, C) real, D) dict
``Answer: c) real``

In [82]:
print("""Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType""")

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

16. Output of: print("Python"[::-1])
Options: A) Python, B) nohtyP, C) Error, D) reverse
``Answer: b) nohtyP``

In [85]:
print("Python"[::-1])

nohtyP

17. Output of:
Code: x = None, print(type(x))
Options: A) None, B) class 'NoneType', C) Error, D) Null
Answer: B) class 'NoneType'

In [96]:
x = None, print(type(x))
print(type(None))

<class 'tuple'>
<class 'NoneType'>

18. Find the syntax error:
Code: if 5 > 3 print("Yes")
Options: A) Missing parenthesis, B) No colon, C) Indentation, D) Logical error
``Answer: B) No colon``

In [100]:
if 5 > 3 print("Yes")

SyntaxError: invalid syntax (2928912137.py, line 1)

19. Value of: len([1, [2, 3], 4])
Options: A) 5, B) 3, C) 4, D) Error
``Answer: B) 3``

In [105]:
len([1, [2, 3], 4])

3

20. Output of: print(5 + "6")
Options: A) 11, B) 56, C) TypeError, D) 5+6
``Answer: C) TypeError``

In [109]:
print(5 + "6")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

21. Output of: b = 5.6, print(int(b))
Options: A) 5, B) 6, C) TypeError, D) None
Answer: A) 5

In [114]:
b = 5.6
print(int(b))

5

22. Purpose of keyword pass:
Options: A) End a loop, B) Ignore an error, C) Ignore block, D) None
``Answer: C) Ignore block``

In [117]:
def func():
    pass

23. Output of: print(10//3)
Options: A) 3, B) 3.0, C) 4, D) 3.3
``Answer: A) 3``

In [120]:
print(10//3)

3

24. Evaluate: print(3 > 2 and 2 < 1)
Options: A) True, B) False, C) Error, D) None
``Answer: B) False``

In [123]:
print(3 > 2 and 2 < 1)

False

25. Correct list slicing: A) list[:3], B) list(0:2), C) list[0:2], D) A and C
Answer: D) A and C

In [128]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list[:3])
list[0:2]

[1, 2, 3]

[1, 2]

26. What is mutable?
Options: A) str, B) int, C) list, D) tuple
``Answer: C) list``

In [132]:
list = [1,2,3,4,5,6,7,8,9,10]
list.append(10)
list.pop()

10

27. Output of: print("a" in "banana")
Options: A) True, B) False, C) Error, D) None
``Answer: A) True``

In [135]:
print('a' in 'banana')

True

28. What does df.head() do in pandas?
Options: A) Show first 5 rows, B) Show last 5 rows, C) Show all rows, D) None
``Answer: A) Show first 5 rows``

In [140]:
import pandas as pd
df = pd.read_csv('./data.csv')
df.head()

,empID,empName,empAge,empSalary,empDep,empLeaves,empGender,empJoinDate,empPS,City
0,1001,Awais Ahmed,30,75000,IT,2,M,2/15/2019,4.2,Karachi
1,1002,Saira Ahmed,27,68000,HR,1,F,6/12/2021,4.5,Lahore
2,1003,Ali Raza,35,88000,Finance,3,M,10/20/2015,4.0,Islamabad
3,1004,Sana Sheikh,29,71000,Marketing,0,F,4/18/2018,4.3,Faisalabad
4,1005,Bilal Siddiqui,42,99000,Management,4,M,1/5/2010,4.7,Rawalpindi

29. Output of: d = {"a": 1, "b": 2}, print(d["a"])
Options: A) 0, B) None, C) KeyError, D) 1
``Answer: D) 1``

In [153]:
d = {"a": 1, "b": 2} 
print(d["a"])

1

30. What is the correct syntax to import pandas?
Options: A) import panda as pd, B) import pandas, C) import pandas as pd, D) import pan-
``Answer: C) import pandas as pd``

In [158]:
import pandas as pd
df = pd.read_csv('./data.csv')
df.isnull()

,empID,empName,empAge,empSalary,empDep,empLeaves,empGender,empJoinDate,empPS,City
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,True,True,True

31. What will this return? type((1,))
Options: A) tuple, B) int, C) list, D) str
``Answer: A) tuple``

In [161]:
type((1,))

tuple